<span id='title'>Media Rocket</span>

<div id="header" class='span-24'></div>

<div id="tabs">
	<ul>
		<li class="ui-state-default ui-corner-top ui-tabs-selected"><a id="galleries-tab"><span>Galleries</span></a></li>
	</ul>
</div>

<div id="organize" class='span-24'>
	<div id='main-action' class='span-8'>
		<h3><a href="#">Add Gallery</a></h3>
		<div>
			<form action="<%= url(:media_rocket_galleries) %>" method="post" accept-charset="utf-8" id="gallery-add">
				<p><label for="name">Gallery Name</label><br/>
				<input type="text" name="gallery[name]" value="" id="gallery-name"></p>
				<input type="hidden" name="gallery[parent_id]" value="" id="gallery-parent">
				<p><input type="submit" value="Continue &rarr;"></p>
			</form>
		</div>
		
		<h3><a href="#">Upload One</a></h3>
		<div>
			<%= media_upload_form :format => "flat" %>
		</div>
		
		<h3><a href="#">Upload Multi</a></h3>
		<div>
			<%= media_upload_form :format => "uploadify" %>
		</div>
	</div>
	
	<div id='main-area' class='span-16 last'>
		<span id="main-area-loading">
			Loading...
		</span>
	</div>
</div>

<!-- Display media list -->
<div id="media-list" class='span-24'>
	<span id='scroll-left'></span>
	
	<div id='media-items'>
	</div>
	
	<span id='scroll-right'></span>
</div>