<div class="span-17">
	
	<h3>Organiser les Albums</h3>
	
	<%= media_gallery_organize %>
	
</div>

<div class="span-5 last" id="upload">  
	
	<h3>Charger une photo</h3>
	
	<%= media_upload_form :format => "full" %>
	
</div>