<p>Vous pouvez gérer la liste de vos médias depuis cette page.</p>

<% @sites.each do |site| %>
	<h3><%= site.name %></h3>
	<% site.categories.each do |category| %>
		<li><%= category.name %></h4>
		<% category.medias.each do |media| %>
			<ul><%= media.title %></ul>
		<% end %>
		</li>
	<% end %>
	<br/>
<% end %>