/*****************************************************************************/
/*
/* Container
/*
/*****************************************************************************/

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

/*****************************************************************************/
/*
/* Main
/*
/*****************************************************************************/

.tag_size1 {font-size: 1.0em;}
.tag_size2 {font-size: 1.2em;}
.tag_size3 {font-size: 1.4em;}
.tag_size4 {font-size: 1.6em;}
.tag_size5 {font-size: 1.8em;}
.tag_size6 {font-size: 2.0em;}

/*****************************************************************************/
/*
/* treetable
/*
/*****************************************************************************/

/* TABLE
 * ========================================================================= */
table {
  border: 1px solid #888;
  border-collapse: collapse;
  line-height: 1;
  margin: 1em auto;
  width: 90%;
}

/* Caption
 * ------------------------------------------------------------------------- */
table caption {
  font-size: .9em;
  font-weight: bold;
}

/* Header
 * ------------------------------------------------------------------------- */
table thead {
  background: #aaa url(../images/icons/bg-table-thead.png) repeat-x top left;
  font-size: .9em;
}

table thead tr th {
  border: 1px solid #888;
  font-weight: normal;
  padding: .3em 1.67em .1em 1.67em;
  text-align: left;
}

th.action, td.action {
	width: 200px;
	text-align: right;
}

/* Body
 * ------------------------------------------------------------------------- */
table tbody tr td {
  cursor: default;
  padding: .3em 1.5em;
}

table tbody tr.even {
  background: #f3f3f3;
}

table tbody tr.odd {
  background: #fff;
}

table span {
  background-position: center left;
  background-repeat: no-repeat;
  padding: .2em 0 .2em 1.5em;
}

table span.media {
  background-image: url(../images/icons/page_white_text.png);
}

table span.category {
  background-image: url(../images/icons/folder.png);
}

input.category_add{
	font-size:10px;
	height:15px;
	padding:0;
	text-align:right;
	width:130px;
}

input.icon {
	vertical-align: middle;
}

#media_viewer {
	width:400px;
	margin-left:50px;
}

#media_viewer img{
	float:right;
	margin-top:30px;
}

label span{
	display:block;
}

#media_viewer input{
	width:200px;
}