/*****************************************************************************/
/*
/* Container
/*
/*****************************************************************************/


/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

/*****************************************************************************/
/*
/* Main
/*
/*****************************************************************************/

.hidden{
	display:none;
}

div.item {
	float:left;
	padding:5px;
	text-align: center;
}

div.item > .title {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
}

div.item > img{
	border: 1px solid #999;
	cursor: pointer;
	height: 90px;
	width: 90px;
}