/*****************************************************************************/
/*
/* Container
/*
/*****************************************************************************/

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

/*****************************************************************************/
/*
/* Main
/*
/*****************************************************************************/

.tag_size1 {font-size: 1.0em;}
.tag_size2 {font-size: 1.2em;}
.tag_size3 {font-size: 1.4em;}
.tag_size4 {font-size: 1.6em;}
.tag_size5 {font-size: 1.8em;}
.tag_size6 {font-size: 2.0em;}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/
