<p>Select user allowed to view this gallery:</p>

<% @users.each do |user| -%>
<input type='checkbox' name='<%= user.id %>' rel='<%= gallery.id %>'><%= user.login %><BR>
<%- end %>

<form action='<%= slice_url(:permissions) %>' method='post' accept-charset='utf-8'>
	<label for='username'>Username</label><input type='text' name='login' value='' id='username'>
	<label for='password'>Password</label><input type='password' name='password' value='' id='password'>
	<input type='hidden' name='permission_act' value='add_user' id='action'>
	<p><input type='submit' value='Add User &rarr;'></p>
</form>