<h3>Protection</h3>

<div>

	<form action="<%= slice_url(:media_rocket_galleries, @gallery.id) %>" method="POST" accept-charset="utf-8">
	  <div class="formRow">
	    <label>Password:</label><br/>
		<input type="password" name="gallery_password" value="">
	  </div>
	</form>
	
</div>

    
  
