<h3>Protection</h3>

<div>

	<form action="<%= url(:media_rocket_gallery, @gallery.id) %>" method="POST" accept-charset="utf-8">
	  <div class="formRow">
	    <label>Password:</label><br/>
		<input type="password" name="password" value="">
		<p><input type="submit" value="Continue &rarr;"></p>
	  </div>
	</form>
	
</div>

    
  
